:root {
  --primary-color: #5ab7d4;
  --secondary-color: #c2f9ff;
  --text-primary-color: #fff;
  --text-secondary-color: #dfdfee;
  --bg-color: #161618;
}

body {
  font-family: Arial, sans-serif;
  padding: 1.25rem;
  background-color: var(--bg-color);
  color: var(--text-primary-color);
  font-family: "Inter", serif;
  width: 27.75rem;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-container {
  display: flex;
  gap: 0.75rem;
  padding: 8px;
}

.icon-container {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313135;
  border-radius: 4px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  color: var(--text-primary-color);
  font-size: 0.875rem;
  font-weight: 400;
}

.toggle {
  position: relative;
  width: 51px;
  height: 31px;
  background-color: rgba(120, 120, 128, 0.16);
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle .circle {
  position: absolute;
  width: 27px;
  height: 27px;
  background-color: var(--text-primary-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .toggle {
  background-color: var(--primary-color);
}

.toggle-input:checked + .toggle .circle {
  left: 20px;
}
